@model List<BookDTO>
@{
}

@if (Model.Count > 0)
{
    @foreach (var book in Model)
    {
        <a class="card" asp-action="BookPage" asp-controller="Book" asp-route-titulo="@book.Name">
            <img src="~/Imagens/capas/@book.ImgUrl" alt="">
            <h3>@book.Name</h3>
            <h4 style="color:darkgrey">@book.Author?.UserName</h4>
            <div class="infos">
                <div style="display: flex;gap:3px;margin-top:10px;align-items: center;position: absolute;top:0;left: 10px;">
                    @book.AvarageVotes<i class="fa-solid fa-star"></i>

                </div>
            </div>
        </a>
    }

}
else
{
    <h2>Não Encontrado</h2>
}